%%------------------------------------------------------------------------------
%% @spec foo() -> ok
%% @doc
%% @end
%%------------------------------------------------------------------------------
foo() -> ok.